<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://github.com/sms2anhadbir-dev/mc-edu-client/releases/download/v1.0/mcedu_signed.ipa</string>
        </dict>
        <dict>
          <key>kind</key>
          <string>display-image</string>
          <key>url</key>
          <string>https://sms2anhadbir-dev.github.io/mc-edu-client/minecraft.png</string>
        </dict>
        <dict>
          <key>kind</key>
          <string>full-size-image</string>
          <key>url</key>
          <string>https://sms2anhadbir-dev.github.io/mc-edu-client/minecraft.png</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.mojang.minecraft-edu</string>
        <key>bundle-version</key>
        <string>1.21.131.1</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>A.SMC's Java Edition iOS Port</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
